body {
   text-align: center;
   margin: 0;
   padding: 0;
}
.full-page {
   width: 100vw;
   height: 200vh;
   background-color: rgb(232, 231, 231);
}
h1 {
    font-size: 45px;
    display: inline-block;
    color: #b70303;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: 2px solid #b70303;/*上線*/
    border-bottom: 2px solid #b70303;/*下線*/
 }
 h2 {
    display: inline-block;
    width: 400px;
    color: #364e96;/*文字色*/
    border: solid 3px #364e96;/*線色*/
    padding: 0.5em;/*文字周りの余白*/
    border-radius: 0.5em;/*角丸*/
 }
 h3 {
    text-align: center;
 }
 p {
    font-size: 30px;
    text-align: center;
 }
.center{
    text-align: center;
}

@media screen and (max-width: 390px) {
	/* 480px以下に適用されるCSS（スマホ用） */
   body {
      text-align: center;
      margin: 0;
      padding: 0;
   }
   .full-page {
      width: 390px;
      height: 1500px;
      background-color: rgb(232, 231, 231);
   }
   h1 {
       font-size: 32px;
       display: inline-block;
       color: #b70303;/*文字色*/
       padding: 0.5em 0;/*上下の余白*/
       border-top: 2px solid #b70303;/*上線*/
       border-bottom: 2px solid #b70303;/*下線*/
    }
    h2 {
       display: inline-block;
       width: 130px;
       color: #364e96;/*文字色*/
       border: solid 3px #364e96;/*線色*/
       padding: 0.4em;/*文字周りの余白*/
       border-radius: 0.5em;/*角丸*/
       font-size: 15px;
    }
    h3 {
       text-align: center;
    }
    p {
       font-size: 30px;
       text-align: center;
    }
   .center{
       text-align: center;
   }
   a{
      font-size: 14px;
   }
}