h1 {
    text-align: center;
    font-size: 45px;
    color: rgb(255, 21, 0);
 }
 h2 {
    text-align: center;
 }
 h3 {
    text-align: center;
 }
 p {
    font-size: 30px;
    text-align: center;
 }
.center{
    text-align: center;
}