<h4>--------------------------------------------------</h4>
<div class="container">
    <h3>電気電子工学コース用</h3>
    <p>成績のCSVファイルを入力してください</p>
    
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <input
            formControlName="file"
            id="file"
            type="file"
            accept="text/csv"
            class="form-control"
            font-size="22px"
            (change)="onFileChange($event)">
    
      <div *ngIf="f['file'].touched && f['file'].invalid" class="alert alert-danger">
            <div *ngIf="f['file'].errors?.['required']">File is required.</div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" onclick="setTimeout(()=>disabled=true,0)">Submit</button>
    </form>
    
    <h2>3年進級要件</h2>
    <p></p>
    <h2>4年進級要件</h2>
    <p>教養教育科目: {{cnt_edu}} / 23単位以上
       &nbsp;&nbsp; 人文科学系: {{cnt_edu_jin}} / 4単位以上</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;社会科学系: {{cnt_edu_sya}} / 4単位以上</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;人文＋社会: {{cnt_edu_jin + cnt_edu_sya}} / 12単位以上</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;総合科目系: {{cnt_edu_sou}} / 4単位以上</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;　外国語系: {{cnt_edu_gai}} / 4単位以上</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;保健体育系: {{cnt_edu_hoken}} / 1単位以上</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;情報処理系: {{cnt_edu_jyou}} / 2単位以上</p>
    <p></p>
    <p>専門教育科目: {{cnt_spe}} </p>
    <p>自由選択科目: {{cnt_fre}} / 10単位以内</p>
    <p>総取得単位数: {{cnt_edu + cnt_spe + cnt_fre}} / 113以上</p>
    
    <h2>卒業要件</h2>
    <p>教養教育科目: {{cnt_edu}} / 23単位以上</p>
    <p>専門教育科目: {{cnt_spe}} / 91単位以上</p>
    <p>自由選択科目: {{cnt_fre}} / 10単位以内</p>
    <p>総取得単位数: {{cnt_edu + cnt_spe + cnt_fre}} / 124以上</p>
    
    <button type="button" class="btn btn-raised btn-success" onclick="location.reload();">リセット</button>    
    </div>