<body>
<div class="container">
   <h4>--------------------------------------------------</h4>
    <h3>知能情報工学コース用</h3>
    <h5>成績のCSVファイルを入力してください</h5>
    
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
         <div class="center">
          <input
            formControlName="file"
            id="file"
            type="file"
            accept="text/csv"
            class="form-control"
            (change)="onFileChange($event)">
         </div>
      <div *ngIf="f['file'].touched && f['file'].invalid" class="alert alert-danger">
            <div *ngIf="f['file'].errors?.['required']">File is required.</div>
          </div>
        </div>
        <p></p>
        <button class="btn btn-circle-flat" type="submit" onclick="setTimeout(()=>disabled=true,0)">Submit</button>
    </form>
    
    <h2>4年進級要件</h2>
<p *ngIf="cnt_edu >= 23">教養教育科目: {{cnt_edu}} / 23単位以上</p>
<p *ngIf="cnt_edu_jin >= 4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 人文科学系: {{cnt_edu_jin}} / 4単位以上</p>
<p *ngIf="cnt_edu < 23">教養教育科目: <span style="color:red">{{cnt_edu}}</span> / 23単位以上</p>
<p *ngIf="cnt_edu_jin < 4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 人文科学系: <span style="color:red">{{cnt_edu_jin}}</span> / 4単位以上</p>
<p *ngIf="cnt_edu_sya >= 4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;社会科学系: {{cnt_edu_sya}} / 4単位以上</p>
<p *ngIf="cnt_edu_sya < 4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;社会科学系: <span style="color:red">{{cnt_edu_sya}}</span> / 4単位以上</p>
<p *ngIf="cnt_edu_jin + cnt_edu_sya >= 12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人文＋社会: {{cnt_edu_jin + cnt_edu_sya}} / 12単位以上</p>
<p *ngIf="cnt_edu_jin + cnt_edu_sya < 12">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人文＋社会: <span style="color:red">{{cnt_edu_jin + cnt_edu_sya}}</span> / 12単位以上</p>
<p *ngIf="cnt_chiki >= 2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地域志向科目: {{cnt_chiki}} / 2単位以上</p>
<p *ngIf="cnt_chiki < 2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地域志向科目: <span style="color:red">{{cnt_chiki}}</span> / 2単位以上</p>
   <p></p>
<p *ngIf="cnt_edu_sou > 4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;総合科目系: {{cnt_edu_sou}} / 4単位以上</p>
<p *ngIf="cnt_edu_sou > 4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;総合科目系: <span style="color:red">{{cnt_edu_sou}}</span> / 4単位以上</p>
<p *ngIf="cnt_edu_gai >= 4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;　外国語系: {{cnt_edu_gai}} / 4単位以上</p>
<p *ngIf="cnt_edu_gai < 4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;　外国語系: <span style="color:red">{{cnt_edu_gai}}</span> / 4単位以上</p>
<p *ngIf="cnt_edu_hoken >= 1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;保健体育系: {{cnt_edu_hoken}} / 1単位以上</p>
<p *ngIf="cnt_edu_hoken < 1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;保健体育系: <span style="color:red">{{cnt_edu_hoken}}</span> / 1単位以上</p>
<p *ngIf="cnt_edu_jyou >= 2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;情報処理系: {{cnt_edu_jyou}} / 2単位以上</p>
<p *ngIf="cnt_edu_jyou < 2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;情報処理系: <span style="color:red">{{cnt_edu_jyou}}</span> / 2単位以上</p>

<p *ngIf="cnt_spe >=80">専門教育科目: {{cnt_spe}} /80単位以上</p>
<p *ngIf="cnt_spe < 80">専門教育科目: <span style="color:red">{{cnt_spe}}</span> /80単位以上</p>

<p *ngIf="cnt_spe_coursesen_hi+cnt_spe_coursesen_sen >=58">
   &nbsp;&nbsp;&nbsp;&nbsp;・コース専門科目: {{cnt_spe_coursesen_hi+cnt_spe_coursesen_sen}} / 58単位以上</p>
<p *ngIf="cnt_spe_coursesen_hi+cnt_spe_coursesen_sen < 58">
   &nbsp;&nbsp;&nbsp;&nbsp;・コース専門科目: <span style="color:red">{{cnt_spe_coursesen_hi+cnt_spe_coursesen_sen}}</span> / 58単位以上</p>
<p *ngIf="cnt_spe_coursesen_hi >=14">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;必修科目: {{cnt_spe_coursesen_hi}} / 14単位</p>
<p *ngIf="cnt_spe_coursesen_hi < 14">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;必修科目: <span style="color:red">{{cnt_spe_coursesen_hi}}</span> / 14単位</p>
<p *ngIf="cnt_spe_coursesen_sen >=44">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;選択科目: {{cnt_spe_coursesen_sen}} / 44単位以上</p>
<p *ngIf="cnt_spe_coursesen_sen < 44">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;選択科目: <span style="color:red">{{cnt_spe_coursesen_sen}}</span> / 44単位以上</p>

<p *ngIf="cnt_spe_kyo_co_hi+cnt_spe_senhi+cnt_spe_courseki_sen >=22">
   &nbsp;&nbsp;&nbsp;&nbsp;・共通,コース基礎科目: {{cnt_spe_kyo_co_hi+cnt_spe_senhi+cnt_spe_courseki_sen}} / 22単位以上</p>
<p *ngIf="cnt_spe_kyo_co_hi+cnt_spe_senhi+cnt_spe_courseki_sen < 22">
   &nbsp;&nbsp;&nbsp;&nbsp;・共通,コース基礎科目: <span style="color:red">{{cnt_spe_kyo_co_hi+cnt_spe_senhi+cnt_spe_courseki_sen}}</span> / 22単位以上</p>
<p *ngIf="cnt_spe_kyo_co_hi >=3">&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;必修（知的財産、創造ゼミ）: {{cnt_spe_kyo_co_hi}} / 3単位</p>
<p *ngIf="cnt_spe_kyo_co_hi < 3">&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;必修（知的財産、創造ゼミ）: <span style="color:red">{{cnt_spe_kyo_co_hi}}</span> / 3単位</p>
<p *ngIf="cnt_spe_courseki_sen >=8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;選択（微積Ⅱ、線形Ⅱ等）: {{cnt_spe_courseki_sen}} / 8単位以上</p>
<p *ngIf="cnt_spe_courseki_sen < 8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;選択（微積Ⅱ、線形Ⅱ等）: <span style="color:red">{{cnt_spe_courseki_sen}}</span> / 8単位以上</p>   
<p *ngIf="cnt_spe_senhi >=8">&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;選択必修科目: {{cnt_spe_senhi}} / 8単位以上</p>
<p *ngIf="cnt_spe_senhi < 8">&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;選択必修科目: <span style="color:red">{{cnt_spe_senhi}}</span> / 8単位以上</p>
<p *ngIf="cnt_spe_senhi_group1 >=4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;選択必修（数学、物理、化学、生物系）: {{cnt_spe_senhi_group1}} / 4単位以上</p>
<p *ngIf="cnt_spe_senhi_group1 < 4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;選択必修（数学、物理、化学、生物系）: <span style="color:red">{{cnt_spe_senhi_group1}}</span> / 4単位以上</p>
<p *ngIf="cnt_spe_senhi_group2 >=2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;選択必修（英語系）: {{cnt_spe_senhi_group2}} / 2単位以上</p>
<p *ngIf="cnt_spe_senhi_group2 < 2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;選択必修（英語系）: <span style="color:red">{{cnt_spe_senhi_group2}}</span> / 2単位以上</p>
<p *ngIf="cnt_spe_senhi_group3 >=2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;選択必修（プログラミング系）: {{cnt_spe_senhi_group3}} / 2単位以上</p>
<p *ngIf="cnt_spe_senhi_group3 < 2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;選択必修（プログラミング系）: <span style="color:red">{{cnt_spe_senhi_group3}}</span> / 2単位以上</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;・共通専門科目の選択: {{cnt_spe_kyou_sen}}</p>

<p>自由選択科目: {{cnt_fre}} / 10単位以内</p>
<p *ngIf="cnt_edu + cnt_spe + cnt_fre >= 113">総取得単位数: {{cnt_edu + cnt_spe + cnt_fre}} / 113以上</p>
<p *ngIf="cnt_edu + cnt_spe + cnt_fre < 113">総取得単位数: <span style="color:red">{{cnt_edu + cnt_spe + cnt_fre}}</span> / 113以上</p>
    
    <h2>卒業要件</h2>
    <p *ngIf="cnt_edu >= 23">教養教育科目: {{cnt_edu}} / 23単位以上</p>
<p *ngIf="cnt_edu < 23">教養教育科目: <span style="color:red">{{cnt_edu}}</span> / 23単位以上</p>
<p></p>
<p *ngIf="cnt_spe >= 91">専門教育科目: {{cnt_spe}} / 91単位以上</p>
<p *ngIf="cnt_spe < 91">専門教育科目: <span style="color:red">{{cnt_spe}}</span> / 91単位以上</p>
<p>自由選択科目: {{cnt_fre}} / 10単位以内</p>
<p *ngIf="cnt_edu + cnt_spe + cnt_fre >= 124">総取得単位数: {{cnt_edu + cnt_spe + cnt_fre}} / 124以上</p>
<p *ngIf="cnt_edu + cnt_spe + cnt_fre < 124">総取得単位数: <span style="color:red">{{cnt_edu + cnt_spe + cnt_fre}}</span> / 124以上</p>
    </div>
   </body>