p {
    white-space: pre-line;
  }

body {
       background-color: rgba(0, 195, 255, 0.5);
  }

.container {
      //font-family: arial;
      font-size: 22px;
      margin: auto;
      width: 650px;
      //height: 70px;
      //outline: dashed 1px rgb(4, 24, 245);
    }
    
h1 {
      text-align: center;
      font-size: 45px;
      color: rgb(255, 21, 0);
   }
h3 {
      text-align: center;
      color: rgb(0, 0, 255);
   }
h4 {
    text-align: center;
    font-size: 30px;
   }